# pip install git+https://github.com/huggingface/diffusers
# cd diffusers && pip install -e .
huggingface_hub==0.25.0
accelerate==0.28.0
transformers==4.39.2  
librosa
soundfile
lpips
tensorboard
ffmpeg-python
face-alignment
einops
mediapipe
opencv-python==4.9.0.80
numpy==1.24.4
omegaconf
